# Used to generate a dataframe of users + passwords

In [1]:
import pickle
import pandas as pd

In [23]:
# dictionary of usernames + passwords
d = {'user': ['steve','aaron','danny','ben'], 'password': ['1234', '2345', '3456', '4567']}

# create dataframe
df = pd.DataFrame(data=d)

# display dataframe
df

    user password
0  steve     1234
1  aaron     2345
2  danny     3456
3    ben     4567

In [24]:
#pickle dataframe
path = 'data/'

df.to_pickle(path + 'user_pass.pkl')

In [25]:
with open('data/user_pass.pkl', 'rb') as f:
    df_test = pickle.load(f)

In [26]:
df_test

    user password
0  steve     1234
1  aaron     2345
2  danny     3456
3    ben     4567

In [27]:
df

    user password
0  steve     1234
1  aaron     2345
2  danny     3456
3    ben     4567

In [48]:
username = 'steve'
password = 1234

In [49]:
result = df.loc[(df['user']==username) & (df['password']==str(password)),]

In [50]:
len(result)

1

In [5]:
test_str = 'Aaron'

'AARON'